.bx-wrapper{
    border: none;
    box-shadow: none;
    max-width: 225px;
    margin: 34px auto 38px;
    text-align: center;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:rgba(43, 41, 45, 0.2);
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #3142C5;
}